body {
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff; /* White background */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #007bff; /* Default blue background */
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-container {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff; /* Default blue background */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.box-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

.box {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box h3 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.box span {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #ff0055; /* Default blue color */
}

/* Media Queries for Responsive Design */

@media (max-width: 1200px) {
    .header, th  {
        background-color: #28a745; /* Green background for header and table headers */
    }
    .box span {
        color: #28a745; /* Green background for header and table headers */
    }
}

@media (max-width: 992px) {
    .header, th  {
        background-color: #dc3545; /* Red background for header and table headers */
    }
    .box span {
        color: #dc3545; /* Red background for header and table headers */
    }
}

@media (max-width: 768px) {
    .header, th  {
        background-color: #ffc107; /* Yellow background for header and table headers */
    }
    .box span {
        color: #ffc107; /* Yellow background for header and table headers */
    }
}

@media (max-width: 576px) {
    .header, th  {
        background-color: #17a2b8; /* Cyan background for header and table headers */
    }
    .box span {
        color: #17a2b8; /* Cyan background for header and table headers */
    }
}
